/* HomePage.css */

.home-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
  }
  
  .box {
    width: 45%;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .box h2 {
    margin-bottom: 10px;
  }
  
  .box-image {
    height: 150px; 
    background-size: cover;
    background-position: center;
    border-radius: 8px;
  }
  
 